@import url('https://fonts.googleapis.com/css2?family=Cardo&family=Fira+Code&display=swap');

body {
    background-color: #fff0;
    font-family: 'Cardo', serif;
}

h1 {
    border-bottom: 0px;
}

dl {
    text-align: center;
    margin: 40px 0;
}

#content {
    margin: auto;
    width: 40%;
    text-align: justify;
    margin-top: 30px;
}

.mw-body {
    border-color: rgba(251, 251, 251, 0);
}

.infobox {
    margin: 0 0 0 40px;
}

.thumb.tright {
    margin: 0 0 20px 10px;
}

#mw-head {
    display: none;
}

#mw-head-base {
    display: none;
}

#mw-page-base {
    display: none;
}

.mw-body-content {
    font-size: 1.1em;
}

img {
    background-color: white;
    border-radius: 3px;
}

.thumbinner {
    border: #fff0 !important;
    background-color: #fff0 !important;
}

.thumbimage {
    border: #fff0 !important;
}

/*table.infobox:nth-child(1) {
    position: absolute;
    right: -50%;
}*/

#p-wikibase-otherprojects {
    display: none;
}

#p-tb {
    display: none;
}


#p-interaction {
    display: none;
}


#p-navigation {
    display: none;
}

.after-portlet.after-portlet-lang {
    display: none;
}

.toc {
    width: 100%;
    padding: 15px;
    border-radius: 5px;
}

.infobox.biography {
    position: absolute !important;
    left: 100% !important;
}

.vertical-navbox {
    position: absolute !important;
    left: 105% !important;
}

.infobox  {
    position: absolute !important;
    left: 105% !important;
}

pre {
    font-family: 'Fira Code', monospace;
    font-size: 0.75em;
}
